3rd_party/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.site
config.status
config.sub
configure
configure~
depcomp
/*.tar.*
install-sh
install-sh~
libtool
log-file
ltmain.sh
missing
preamble.sh
/m4/

*.o
*.lo
*.la
*.deps/
*.libs/
src/game
